body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  margin: 0px;
}
td{
  border: 1px solid black;
  margin: 0px;
  width: 2.5vw;
  height: 2.5vw;
}

#game{
  margin-left: 25%;
}

button{
  border: 0;
  background: none;
}

.heh{
  border: 0px;
}

.czerwony{
  background-color: red;
}
.zielony{
  background-color: green;
}
.niebieski{
  background-color: blue;
}
.zolty{
  background-color: yellow;
}