body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  margin: 0px;
}
td{
  border: 1px solid black;
  margin: 0px;
  width: 35px;
  height: 20px;
}

#game{
  margin-left: 25px;
  margin-top: 25px;
  height: 300px;
  width: 400px;
}

#info{
  float: left;
  margin-top: -300px;
  margin-left: 450px;
}

button{
  border: 0;
  background: none;
}

.empty{
  border: 0px;
}

.red, .red-start, .red-end{
  background-color: red;
}
.green, .green-start, .green-end{
  background-color: green;
}
.blue, .blue-start, .blue-end{
  background-color: blue;
}
.yellow, .yellow-start, .yellow-end{
  background-color: yellow;
}

.pawn{
  width: 11px;
  margin-left: 5px;
  margin-bottom: -4px;
}